fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic
pydantic-settings
python-dotenv
langgraph
langchain-groq
groq
# Auth
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]
# SMTP email
aiosmtplib
email-validator
